# Python
  Python is a high-level,interpreted and dynamic language.
# Why Python?
    1.Beginner Friendly
    2.Easy to understand 
    3.Very Flexible
    4.Dynamic 
    5.Object-oriented 
    6.Protable
    7.Extensive Support Library
    8.Productivity 
# Use of Python Language
    -Machine leaning 
    -Data Science
    -Artificial Intelligence
    -Deep Learning 
    -Natural Labguage Processing 
    -Computer Vision
    -Image processing 
    -Pattern Recognition

# Get Started

Python3 Install
https://www.python.org/downloads/

Anaconda3 Install
https://www.anaconda.com/distribution/

# Python Comments and Docstrings
   
   1.Comment start with a #.
   
   2.Document capability of python is called docstring.
      docstring can be one line or multilines.Docstring also be 
      a comments.

In [1]:
#this is a comment.

In [2]:
"""this is 
a multiline docstring 
"""

'this is \na multiline docstring \n'

# 1.Print Function

In [3]:
print("Hello word!")

Hello word!

# 2.Creating Variables
Python has no command for declearing a variable.

In [4]:
a=10       #a is int type
b=12.45567 #b is float type
c="Kaisar" #c is string type 
print(a)
print(b)
print(c)

10
12.45567
Kaisar

In [5]:
print(type(a)) # type is a built in function 
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [6]:
print(a+b)# sum of two number 
print(a-b)# sub operation
print(a*b)# mul operation  
print(a/b)# division operation

22.455669999999998
-2.4556699999999996
124.55669999999999
0.802847217371687

In [7]:
s1="My"
s2="name"
print(s1+s2)

Myname

# 3.Taking Input from User

In [9]:
a=int(input("enter a int value:"))#take integer value 
b=float(input("enter a flaot value:"))#take flaot value 
c=input("enter a string:")#take string 
print(a)
print(b)
print(c)

enter a int value:12
enter a flaot value:13.45
enter a string:kaisar
12
13.45
kaisar

# 4.Math Operation

In [10]:
print((1+1)*(15-3)/2)#following PEMDAS rules

12.0

In [11]:
s1="ash"
print(s1*3)
n=10.020233
print(n/3)
print(n//3)

ashashash
3.3400776666666663
3.0

In [12]:
a=3
print(a**3)#** means the power of the variable

27

In [13]:
import math 
r=float(input("enter the radius:"))
print("area of circle A=",math.pi*(r**2))# area of circle is A=pi*r^2

enter the radius:12.56
area of circle A= 495.5975508373428

# 5.String

In [14]:
s1="Bangladesh is my country"
print(s1)

Bangladesh is my country

In [16]:
print(s1[1])#print the string index number working as s[0],s[1],s[2]....s[n]
print(s1[-1])#print the string as reverse order start with s[-1]...s[-n]
print(s1[2:10])#print the character from position 2 to 10
print(s1[10::])#print the character after index 10 to end od string 
print(s1[:3])#print start to index3 string

a
y
ngladesh
 is my country
Ban

In [17]:
print(len(s1))#find the length of the string

24

In [18]:
print(s1.lower())#convert the srting in lower case 
print(s1.upper())#convert the srting in Upper case

bangladesh is my country
BANGLADESH IS MY COUNTRY

In [19]:
print(s1.split())#split the sentence to a single word

['Bangladesh', 'is', 'my', 'country']

In [20]:
print(s1.replace("m","M"))

Bangladesh is My country

In [21]:
s1="My name is "
s2=input()
print(s1+s2)

kaisar
My name is kaisar

# 6.List
 list is a collection which is ordered and changable.
 Python lists are written with squre brackets []

In [22]:
l1=["kaisar","rakib","imran"]
print(l1)

['kaisar', 'rakib', 'imran']

In [23]:
print(len(l1))#length of the list count by single ""

3

In [24]:
print(l1[2])
print(l1[0:2])#print before index2 value

imran
['kaisar', 'rakib']

In [39]:
l1.append("ashraful")

In [40]:
print(l1)

['kaisar', 'rakib', 'imran', 'ashraful']

In [42]:
l1.insert(4,"shakil")#intsert with position
print(l1)

['kaisar', 'rakib', 'imran', 'ashraful', 'shakil', 'shakil']

In [45]:
del(l1[4])#delete list in specific position 
print(l1)
#we can use as same way some mwthod as like pop(),remove(),clear()...etc

['kaisar', 'rakib', 'imran', 'ashraful']

In [49]:
l1.reverse()
print(l1)

['kaisar', 'rakib', 'imran', 'ashraful']
['ashraful', 'imran', 'kaisar', 'rakib']

In [50]:
l1.sort()
print(l1)

['ashraful', 'imran', 'kaisar', 'rakib']

# 7.Tuples
is a collection which is ordered and unchangable.Written with round brackets().

In [51]:
Tuple = ("apple", "banana", "cherry")
print(Tuple)

('apple', 'banana', 'cherry')

In [52]:
Tuple = ("apple", "banana", "cherry")
print(Tuple[1])

banana

In [53]:
print(len(Tuple))

3

# 8.Sets
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [58]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

In [59]:
thisset.update(["orange", "mango", "grapes"])#update the value of set 
print(thisset)

{'banana', 'apple', 'cherry', 'mango', 'grapes', 'orange'}

# 9.Dictionary
A dictionary is a collection which is unordered, changeable and indexed.
written with curly brackets, and they have keys and values.

In [60]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [62]:
x = thisdict["model"]
print(x)

Mustang

In [63]:
x = thisdict.get("model")#get the value of key
print(x)

Mustang

# 10.Python If ... Else

In [65]:
a = 89
b = 500
if b > a:
  print("b is greater than a")

b is greater than a

In [66]:
a = 1000
b = 330
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [67]:
print("A") if a > b else print("=") if a == b else print("B") 
#one line if else

A

In [70]:
a=1
b=1
if a == b and b == a:
    c=True
    print(c)
else:
    c=False

True

# 11.For Loop

In [71]:
for i in range(6): 
    print(i)
#range() function returns a sequence of numbers, starting from 0 by default
# and increments by 1 (by default), and ends at a specified number.

0
1
2
3
4
5

In [72]:
for i in range(1,10,2): 
    print(i)
#1 staring loopnumber,10 ending loop,loop increment by 2

1
3
5
7
9

In [79]:
#first 10  odd and even number
for i in range(0,20,2):
    print("Even number:",i,end="\t")
for i in range(1,20,2):
    print("Odd number:",i,end="\t")

Even number: 0	Even number: 2	Even number: 4	Even number: 6	Even number: 8	Even number: 10	Even number: 12	Even number: 14	Even number: 16	Even number: 18	Odd number: 1	Odd number: 3	Odd number: 5	Odd number: 7	Odd number: 9	Odd number: 11	Odd number: 13	Odd number: 15	Odd number: 17	Odd number: 19

In [80]:
fruits = ["apple", "banana", "cherry"]#for loop for list
for x in fruits:
  print(x)

apple
banana
cherry

In [81]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [83]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# 12.While Loop

In [85]:
i = 1
while i < 6:
  print(i)
  i =i+1

1
2
3
4
5

# 13.Python Functions
In Python a function is defined using the def keyword.

In [87]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [89]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [90]:
def fun(x):
  return 15 * x

print(fun(13))
print(fun(15))
print(fun(19))

195
225
285

In [92]:
def salary(x):
    y=12*x
    y=y*0.05+y
    return y
a=int(input("enter salary:"))
d=salary(a)
print("Yearly salary:",d)

enter salary:100
Yearly salary: 1260.0

# 14.Python Lambda
A lambda function is a small anonymous function.

Syntex=
 lambda arguments : expression

In [93]:
x = lambda a : a + 10
print(x(5))

15

In [94]:
x = lambda a, b : a * b
print(x(5, 6))

30

# 15.Files

In [97]:
#file open and read a text file 
file=open("input.txt","r",encoding="utf-8")
print(file.read())

﻿সাংবাদিকের ওপর হামলা গ্রেপ্তার ৬

কিশোরগঞ্জে সাংবাদিকের ওপর হামলা ও ক্যামেরা-মুঠোফোন ছিনতাইয়ের ঘটনায় ছয় ছিনতাইকারীকে গ্রেপ্তার করেছে পুলিশ। উদ্ধার করা হয়েছে দুটি ডিএসএলআর ক্যামেরা। গতকাল বৃহস্পতিবার রাতে শহরের বিভিন্ন স্থানে অভিযান চালিয়ে তাঁদের গ্রেপ্তার করা হয়।
গ্রেপ্তার ব্যক্তিরা হলেন: কিশোরগঞ্জ শহরের শোলাকিয়া বনানী মোড় এলাকার আরমান মিয়া, শোলাকিয়া এলাকার বচন দত্ত, একই এলাকার মো. রিয়াজ, পূর্ব তারাপাশা গ্রামের আসিফুল আলম ও নিউটাউন এলাকার খোকন মিয়ার ছেলে মেহেদি হাসান ও একই এলাকার নাঈম আহমেদ।
পুলিশ জানায়, একটি অনুষ্ঠানের কথা বলে গত ২২ জানুয়ারি রাতে অনলাইন ফটো এজেন্সি বাংলার চোখের কিশোরগঞ্জ প্রতিনিধি আবির হোসেন ও তাঁর বন্ধু কলেজছাত্র সাব্বির আহমেদকে শহরের শোলাকিয়া বনানী মোড় এলাকায় যেতে বলেন এক যুবক। মোটরসাইকেল নিয়ে ওই সাংবাদিক বনানী মোড়ে যাওয়ার পর শোলাকিয়া এলাকার মো. রিয়াজ তাঁদের অনুষ্ঠানস্থলে নিয়ে যাওয়ার কথা বলে কিশোরগঞ্জ সদর উপজেলার চংশোলাকিয়ায় অবস্থিত একটি পরিত্যক্ত খামারবাড়িতে নিয়ে যান। এ সময় সেখানে আগে থেকে অবস্থান নেওয়া ৮/১০ যুবক সাংবাদিক ও তাঁর বন্ধুকে পিটিয়ে আহত করে দুটি ক্যামেরা, দুটি মুঠোফোন ও মানিব্যাগ নিয়ে যান। এ ঘটনায় পরদিন অজ্ঞাতনামা ছিনতাইকারীদের আসামি করে কিশোরগঞ্জ মডেল থানায় একটি মামলা করেন আবিরের মা রুবি ইসলাম। পরে পুলিশ মুঠোফোনের সূত্র ধরে বিভিন্ন স্থানে অভিযান চালিয়ে তাঁদের গ্রেপ্তার করে।
কিশোরগঞ্জ সদর মডেল থানার ভারপ্রাপ্ত কর্মকর্তা (ওসি) আবু বকর সিদ্দিক বলেন, এ ঘটনায় এখন পর্যন্ত ছয়জনকে গ্রেপ্তার করা হয়েছে। অন্যদের ধরতেও পুলিশি অভিযান অব্যাহত আছে।

In [106]:
#file write 
text="my name is abu kaisar mohammad masum"
f=open('out.txt','w')
c=f.write(text)
print(c)#print the length of the line number

36

In [107]:
file=open("out.txt","r",encoding="utf-8")
print(file.read())

my name is abu kaisar mohammad masum